name: "Build and Deploy"

on:
  push:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - README.md

permissions:
  id-token: write
  contents: read

env:
  AZURE_WEBAPP_NAME: 'app-parku-prod'
  AZURE_WEBAPP_PACKAGE_PATH: '.output'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - uses: oven-sh/setup-bun@v2

    - name: 'bun install and build'
      run: |
        bun install
        bun nuxt build

    - uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

    - run: |
        az logout