name: "Build and Deploy"

on:
  push:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - README.md

permissions:
  contents: read

env:
  NODE_VERSION: '24.11'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Setup Node ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: 'npm install and build'
      run: |
        npm install
        npm run build

    - uses: azure/static-web-apps-deploy@v1
      with:
        azure_static_web_apps_api_token: ${{ secrets.DEPLOYMENT_TOKEN }}
        action: "upload"
        app_location: '/'
        api_location: '.output/server'
        output_location: '.output/public'
