name: "Build and Deploy"

on:
  push:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - README.md
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: azure/static-web-apps-deploy@v1
      with:
        azure_static_web_apps_api_token: ${{ secrets.DEPLOYMENT_TOKEN }}
        action: "upload"
        app_location: '/'
        api_location: '.output/server'
        output_location: '.output/public'
